.FilterArtikel {
    background-color: #3366FF;

}

.FilterArtikel .navbar-brand {
    font-weight: 600;
font-size: 16px;
line-height: 24px;


color: #FFFFFF;
}

.card-higlight .badge .category {
    padding-right:100px ;
}

.card-highlight .card-title {
    font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;

/* Darker Black/300 */

color: #000000;
}

.card-highlight .card-text {
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: justify;
color: #404040;
}

.DisclaimerArtikel {
   
    padding-top: 75px;
    padding-bottom: 75px;
}

.DisclaimerArtikel .disclaimer-title {
    font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;

color: #FFFFFF;

}
.DisclaimerArtikel .disclaimer-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    color: #FFFFFF;

}
.DisclaimerArtikel .disclaimer-info {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    color: #FFFFFF;
}

.DisclaimerArtikel .btn {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #E25B5C;
}

.DisclaimerArtikel .button {
    background-color: #FFFFFF;
    width: 315px;
    height: 45px;
    border-radius: 8px;
}


.DisclaimerArtikel .container button {
    border: none;
    background: #FFFFFF;
    padding: 12px 20px;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 202px;
    height: 48px;
    color: #FB4141;
    transition: .4s;
    margin-top: 25px;
    cursor: pointer;
 }

 .DisclaimerArtikel .container button:hover {
  transform: scale(1.1);
}

.DetailArtikel .judul {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;
/* identical to box height */

text-align: center;

color: #000000;

}
